header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #f6f8fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

header h1 {
  font-size: 40px;
  color: #5b6495;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #878893;
}
